@define-color background black;
@define-color foreground white;
@define-color inactive gray;

* {
  font-size: 14px;
  padding: 0px;
  border-radius: 0;
  font-family:
    FontAwesome,
    Iosevka Nerd Font;
}

window#waybar {
  background-color: @background;
  color: @foreground;
}

#workspaces button {
  color: @inactive;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button:hover {
  transition: none;
  border-color: @foreground;
  color: @background;
}

#idle_inhibitor,
#pulseaudio,
#cpu,
#custom-vram,
#memory,
#clock {
  padding: 0 8px 0 8px;
  border-right: 1px solid @foreground;
}

#idle_inhibitor.activated {
  color: red;
}

#idle_inhibitor {
  padding-right: 14px;
}

#tray {
  padding: 0 8px 0 8px;
}
