@define-color background #140f0c;
@define-color foreground #bfbfbf;
@define-color accent #4b0d11;
@define-color red #860104;

* {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
}

window#waybar {
  background: @accent;
  color: @foreground;
}

#window {
  background: @accent;
  color: @foreground;
  padding-left: 8px;
}

.modules-left,
.modules-right {
  background: @background;
}

#workspaces button {
  color: @foreground;
  border-radius: 0;
  padding: 2px;
  /* background-image: url("/home/niko/downloads/media-244547933.jpg"); */
  /* background-size: contain; */
  /* background-repeat: no-repeat */
}

#workspaces button.active {
  color: @foreground;
  background: @accent;
}

#idle_inhibitor.activated {
  color: @red;
}

#tray {
  margin-left: -4px;
  margin-right: 8px;
  /* padding-bottom: 2px; */
}

/* Remove hover effect */
#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  border-color: rgba(0, 0, 0, 0);
  color: @foreground;
  background: @red;
}

#submap {
  padding-right: 8px;
}

#idle_inhibitor {
  padding-left: 8px;
  padding-right: 8px;
  border-right: 1px solid @foreground;
}

#pulseaudio,
#cpu,
#memory,
#clock {
  padding-right: 8px;
  border-right: 1px solid @foreground;
}

#tray {
    padding-left: 8px
}
