@define-color background #140f0c;
@define-color foreground #bfbfbf;
@define-color accent #4b0d11;
@define-color red #860104;

* {
  font-family: Iosevka Nerd Font;
  font-size: 16px;
}

window#waybar {
  background: @accent;
  color: @foreground;
}

#window {
  background: @accent;
  color: @foreground;
  padding: 0 8px 0 8px;
}

.modules-left,
.modules-right {
  background: @background;
}

#workspaces button {
  color: @foreground;
  border-radius: 0;
  padding: 0 2px 0 2px;
}

#workspaces button.active {
  color: @foreground;
  background: @accent;
}

/* remove hover effect */
#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
  border-color: rgba(0, 0, 0, 0);
  color: @foreground;
  background: @red;
}

#submap {
  padding: 0 8px 0 8px;
}

#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#clock {
  padding: 0 8px 0 8px;
  border-right: 1px solid @foreground;
}

#idle_inhibitor.activated {
  color: @red;
}

#tray {
  padding: 0 8px 0 8px;
}
